<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MailSquare</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
  	<p>Mail Square</p>
  	  <form action='/sparkpost_send' method='post'>
        <input type='text' name='recipient'>
        <input type='text' name='subject'>
        <input type='text' name='title'>
        <textarea type='text' name='text'></textarea>
        <input type='text' name='image1'>
        <input type='text' name='image2'>
        <input type='text' name='image3'>
        <input type='text' name='link1'>
        <input type='text' name='link2'>
        <input type='text' name='link3'>
        <button type='submit' class='enter'>Send Email</button>
      </form>
    <script src="main.js" type="text/javascript"></script>
  </body>
</html>
