<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Square Mail</title>
  </head>
  <body>
    <p>Mail Square</p>
    <p>
    <% var emailList = emails %>
    <%= emails[0].content %>
    </p>
    <script src="main.js" type="text/javascript"></script>
  </body>
</html>