@import url(http://weloveiconfonts.com/api/?family=entypo);
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

body {
  background: #e9eaef;
  font-family: Open Sans;
  height: 100%;
}
li {
  list-style-type: none;
}
a {
  font-size: 18px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  color: #fff;
  text-decoration: none;
}

.hide {
  display: none;
}

//layout
.sidebar {
  position: fixed;
  width: 50px;
  height: 300px;
  background: #252353;
  ul{
    padding: 15px;
    &:after {
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -50%;
      content: '';
      width: 0;
      height: 0;
      border-top: solid 50px #252353;
      border-right: solid 50px transparent;
    }
  }
}
.content {
    margin-left: 60px;
    height: 1000px;
    width: auto;
    position: relative;
    overflow: auto;
    z-index: 1;
}
//Round menus
#rad1 {
  left: 20%;
}
#rad2 {
  left: 50%;
}
.radial {
  z-index: 9999;
  position: absolute;
  width: 50%;
  top: 50.25%;
  margin-left: -25%;
}

.menu {
  padding: 0;
  margin: 0;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  a {
    font-size: 18px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    background: #2980b9;
    border-radius: 100em;
    color: #fff;
    position: absolute;
    text-decoration: none;
    left: 50%;
    margin-left: -24px;
    top: 24px;
    transition: all .5s ease-in-out;
    opacity: 0;
    &:hover {
      background: #2c3e50;
    }
    .radial:hover & {
      opacity: 1;
      &:nth-child(1){
        transform: translate( 0, -200% );
      }
      &:nth-child(2) {
        transform: translate( -200%, 0% );
      }
      &:nth-child(3) {
        transform: translate( 200%, 0 );
      }
      &:nth-child(4) {
        transform: translate( 0, 200% );
      }
    }
  }
}
//menu button
.avatar {
  width: 96px;
  height: 96px;
  overflow: hidden;
  border-radius: 100em;
  box-shadow: 0 0 0 5px #2980b9;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  img {
    max-height: 100%;
    margin: 0 auto;
    margin-left: -20px;
  }
}
//round menu end
//3D TILES
.bigdiv {
  border: 0;
  background: #5786c1;
  color: white;
  height: 100px;
  width: 100px;
  padding: 8px 14px;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  display: inline-block; /* needed for anchors */
  position: relative;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 1px 0px #3a587f, 0px 1px #4171ae,
              2px 1px #3a587f, 1px 2px #4171ae,
              3px 2px #3a587f, 2px 3px #4171ae,
              4px 3px #3a587f, 3px 4px #4171ae,
              5px 4px #3a587f, 4px 5px #4171ae,
              6px 5px #3a587f, 5px 6px #4171ae,
              7px 6px #3a587f, 6px 7px #4171ae,
              8px 7px #3a587f, 7px 8px #4171ae,
              9px 8px #3a587f, 8px 9px #4171ae,
              8px 9px 17px 0 rgba(0, 0, 0, 0.2), 7px 10px 17px 0 rgba(0, 0, 0, 0.2);
              // 11px 10px #3a587f, 10px 11px #4171ae,
              // 12px 11px #3a587f, 11px 12px #4171ae;
}
.meddiv {
  padding: 8px 14px;
  background: #5786c1;
  height: 100px;
  width: 100px;
  transform: translate(2px, 2px);
  box-shadow: 1px 0px #3a587f, 0px 1px #4171ae,
              2px 1px #3a587f, 1px 2px #4171ae,
              3px 2px #3a587f, 2px 3px #4171ae,
              4px 3px #3a587f, 3px 4px #4171ae,
              5px 4px #3a587f, 4px 5px #4171ae,
              6px 5px #3a587f, 5px 6px #4171ae,
              5px 6px 17px 0 rgba(0, 0, 0, 0.2), 4px 7px 5px 0 rgba(0, 0, 0, 0.2);
}
.smalldiv {
  padding: 8px 14px;
  background: #5786c1;
  height: 100px;
  width: 100px;
  transform: translate(4px, 4px);
  box-shadow: 1px 0px #3a587f, 0px 1px #4171ae,
              2px 1px #3a587f, 1px 2px #4171ae;
}

.col {
  width: 160px;
  float: left;
}
//3d tiles end

//tabs
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.tabs {
  width: 100%;
  float: none;
  list-style: none;
  position: relative;
  margin: 20px 0 0 10px;
  text-align: left;
  li {
    float: left;
    display: block;
  }
  input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  label {
    display: block;
    padding: 14px 21px;
    border-radius: 2px 2px 0 0;
    font-size: 20px;
    color: lightgray;
    font-weight: normal;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    top: 4px;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: gray;
      border-bottom: 5px solid #f75c72;
    }
  }
  .tab-content {
    z-index: 2;
    display: none;
    overflow: hidden;
    width: 100%;
    font-size: 17px;
    line-height: 25px;
    padding: 25px;
    position: absolute;
    top: 53px;
    left: 0;
    white-space: normal;
  }
}
.tabs [id^="tab"]:checked + label {
  color: black;
  border-bottom: 5px solid #f75c72;
}
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}
//tabs end
//email tiles
.email {
  display: inline-block;
  vertical-align: top;
  height: 300px;
  width: 200px;
  margin: 10px;
  overflow: hidden;
  word-wrap: break-word;
  .tile-detail{
    height: 100px;
    position: absolute;
    bottom: 0;
  }
}
